%h3 #{ ENV['APP_NAME'] }

%ul
  %li
    %a{:href => '/workflows'} Workflows
  %li
    %a{:href => '/definitions'} Definitions
  %li
    %a{:href => '/jobs'} Jobs
  %li
    %a{:href => '/job_edges'} Job Edges
  %li
    %a{:href => '/tokens'} Your API Tokens
  %li
    %a{:href => '/healthcheck/complete'} Health Check
  %li
    %a{:href => '/sidekiq/dagger'} Sidekiq for Dagger
  %li
    %a{:href => '/sidekiq/cellar'} Sidekiq for Cellar
  %li
    %a{:href => '/logout'} Logout
