-#%h3 #{ ENV['APP_NAME'][3..-1].capitalize }
#spacer.col-xs-12{style: 'margin-top: 150px;'}
.container-fluid
  .row
    .col-md-4.col-md-push-4
    %figure.col-md-4
      .text-center
        %a{href: '/', style: 'font-size: 18px;'}
          %img{src: '/images/pink_donut_bite.jpg', width: 200, class: 'image-responsize'}
          %figcaption
            Sign in with GitHub
