.row
  .col-lg-12
    %h3.page-header Workflows
    .page-header-actions
      %a.btn.btn-default{ href: '/workflows/admin/new' }
        %span.glyphicon.glyphicon-plus
        New Workflow
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        .panel-heading-body
          -#= form_tag '/workflows', method: 'get', id: 'filter-form',class: 'form-inline' do
          -#  .row
          -#    .form-group.col-sm-7.col-md-8
          -#      %label.control-label{ for: :by_user_uid } Owner:
          -#      = select_tag 'by_user_uid', options_for_select(@users, @filters[:by_user_uid]), class: 'form-control input-sm'
          -#    .form-group.col-sm-5.col-md-4
          -#      = render partial: '/shared/date_selector', locals: { filters: @filters }
      - if @workflows.count > 0
        #workflows
          #workflows-content
            %table.table.table-hover.table-striped.table-bordered
              %thead
                %tr
                  %th Status
                  %th Definition
                  %th Owner
                  %th Jobs by Status
                  %th Start Time
                  %th Elapsed Time
                  %th
                %tbody
                  - @workflows.each do |workflow|
                    = haml :'admin/workflows/_row', locals: { workflow: workflow }
      - else
        .panel-body
          .alert.alert-warning No workflows.
      .panel-footer #{@workflows.count} workflows found.

    -#%nav.text-center
    -#  = will_paginate @workflows, renderer: BootstrapPagination::Sinatra

:javascript
  $(function() {
    var REFRESH_INTERVAL_IN_MILLIS = 10000;
    setInterval(function(){
      $('#workflows').load('/workflows/admin'.concat(window.location.search, ' #workflows-content'))
    }, REFRESH_INTERVAL_IN_MILLIS);

    // var filterForm = $('#filter-form');
    // filterForm.on('change', function(){
    //   this.submit();
    // });
    //
    // $("#date_start, #date_end").on("dp.change", function (e) {
    //   filterForm.submit();
    // });
  });
