%h3 #{ ENV['APP_NAME'] }

%ul
  %li
    %a{:href => '/results'} Results
  %li
    %a{:href => '/local_inputs'} Local Inputs
  %li
    %a{:href => '/workflow_envs'} Workflow Envs
  %li
    %a{:href => '/tokens'} Your API Tokens
  %li
    %a{:href => '/healthcheck/complete'} Health Check
  %li
    %a{:href => '/sidekiq'} Sidekiq
  %li
    %a{:href => '/logout'} Logout
